<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="URDF_Finger_64k.SLDASM">
  <link
    name="0">
    <inertial>
      <origin
        xyz="0.009 0.0253500000000006 0.0133990381056765"
        rpy="0 0 0" />
      <mass
        value="5.23598775598299E-07" />
      <inertia
        ixx="5.23598775598299E-14"
        ixy="-2.20038402599252E-47"
        ixz="1.2840991147285E-46"
        iyy="5.23598775598299E-14"
        iyz="-7.69072127620391E-30"
        izz="5.23598775598299E-14" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Finger_64k.SLDASM/meshes/0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Finger_64k.SLDASM/meshes/0.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="1">
    <inertial>
      <origin
        xyz="0 0.000933012701892208 -1.73472347597681E-18"
        rpy="0 0 0" />
      <mass
        value="5.23598775598299E-07" />
      <inertia
        ixx="5.23598775598299E-14"
        ixy="-1.57772181044202E-30"
        ixz="-1.75162308040602E-45"
        iyy="5.23598775598299E-14"
        iyz="-1.40129846432482E-45"
        izz="5.23598775598299E-14" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Finger_64k.SLDASM/meshes/1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Finger_64k.SLDASM/meshes/1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="0-1"
    type="prismatic">
    <origin
      xyz="0.009 -0.012541 0.054983"
      rpy="1.5708 1.0472 -1.5708" />
    <parent
      link="0" />
    <child
      link="1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="2">
    <inertial>
      <origin
        xyz="0 0.00025 0"
        rpy="0 0 0" />
      <mass
        value="5.23598775598299E-07" />
      <inertia
        ixx="5.23598775598299E-14"
        ixy="0"
        ixz="4.25419974455364E-46"
        iyy="5.23598775598299E-14"
        iyz="7.8268174905771E-47"
        izz="5.23598775598299E-14" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Finger_64k.SLDASM/meshes/2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Finger_64k.SLDASM/meshes/2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="1-2"
    type="prismatic">
    <origin
      xyz="-0.020008 0.01119 0"
      rpy="0 0 2.0944" />
    <parent
      link="1" />
    <child
      link="2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="3">
    <inertial>
      <origin
        xyz="0 -0.000933012701892222 0"
        rpy="0 0 0" />
      <mass
        value="5.23598775598299E-07" />
      <inertia
        ixx="5.23598775598299E-14"
        ixy="-1.57772181044202E-30"
        ixz="-1.40129846432482E-45"
        iyy="5.23598775598299E-14"
        iyz="3.50324616081204E-46"
        izz="5.23598775598299E-14" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Finger_64k.SLDASM/meshes/3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Finger_64k.SLDASM/meshes/3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="2-3"
    type="prismatic">
    <origin
      xyz="0.007534 0.0052609 0"
      rpy="0 0 1.0472" />
    <parent
      link="2" />
    <child
      link="3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="4">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="5.23598775598299E-07" />
      <inertia
        ixx="5.23598775598299E-14"
        ixy="6.31088724176809E-30"
        ixz="7.00649232162409E-46"
        iyy="5.23598775598299E-14"
        iyz="-1.40129846432482E-45"
        izz="5.23598775598299E-14" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Finger_64k.SLDASM/meshes/4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Finger_64k.SLDASM/meshes/4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="3-4"
    type="fixed">
    <origin
      xyz="0.012054 -0.0064755 0"
      rpy="0 0 2.0944" />
    <parent
      link="3" />
    <child
      link="4" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>