<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="URDF_Palm_64m.SLDASM">
  <link
    name="Palm">
    <inertial>
      <origin
        xyz="-0.0086481 -0.022579 0.0096896"
        rpy="0 0 0" />
      <mass
        value="0.3273" />
      <inertia
        ixx="0.00024777"
        ixy="2.0924E-06"
        ixz="5.8218E-06"
        iyy="0.00026792"
        iyz="7.5817E-06"
        izz="0.00040841" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Palm_64m.SLDASM/meshes/Palm.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Palm_64m.SLDASM/meshes/Palm.STL" />
      </geometry>
    </collision>
  </link>
</robot>